body{
    background-color: #161a1d;
}
.hero-image{
    width: 100%;
    height: 25em;
} 
h2{
    text-align: center;
    background-color: #161a1d;
    color:#f5f3f4;
    font-size:xx-large;
    font-weight: 700;
    font-style: italic;
    border:0.05em solid #f5f3f4
}
h4{
    margin-bottom: 0.2em;
}
#main-container{
    display: grid;
    gap: 1rem;
    padding-block: 1rem;
    width: 95%, 70rem;
    margin-inline: auto;
}
@media (min-width: 48em) {
    #main-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-col-span-2{
        grid-column: span 2;
    }
    article:last-child{
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: span 2;
    
    }
}
article{
    font-size: 0.9em;
    font-family: 'Chivo', sans-serif;
    letter-spacing: .05em;
    padding: .5em;
    margin: 1em;
    box-shadow:  -.5em .5em .5em #0b090a;
    border: .4em solid #0b090a;
    border-radius: 5%;
    text-align: center;
    max-width: 46rem;
    min-width: 8rem;
    color: #f5f3f4;
}
.article-image{
    width: 90%;
    margin: 1em 1em 0.2em 1em;
    border: 2px solid #f5f3f4;
    
}
