* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: #161a1d;
  display: flex;
  font-family: 'Lexend Exa', sans-serif;
  font-variant: small-caps;
  justify-content: space-between;
  letter-spacing: 3px;
  min-height: 7vh;
  color: #f5f3f4;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links {
  display: flex;
  /* justify-content: space-around; */
  list-style: none;
  width: 50%;
  height: 100%;
}
.nav-links a {
  color: #f5f3f4;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 50px;
  padding-right: 50px;
  transition: all .05s ease-in-out;
}
.nav-links a:hover {
  background-color: #a61728;
}
.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.logo img {
  width: 15%;
  justify-content: space-around;
}

.logo h1 {
  display: inline-block;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  position: absolute;
  justify-content: space-around;
  margin-left: 15px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2.2px;
  background-color: #f5f3f4;
  margin: 5px;
  transition: all 0.3s ease;
  justify-content: space-around;
}

#heart {
  color: #ef233c;
  animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
  0% {
    text-shadow: 0px 0px 5px #ff002b;
  }

  50% {
    text-shadow: 0px -2.5px 10px #ff002b;
  }

  100% {
    text-shadow: 0px 0px 5px #ff002b;
  }
}
@media screen and (max-width:1440px) {
  .nav-links a {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width:1030px) {
  .nav-links a {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media screen and (max-width:810px) {
  .nav-links a {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media screen and (max-width:790px) {
  .nav-links a {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    height: 93vh;
    top: 7vh;
    background-color: #161a1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    right: calc(30% * -1);
    transition: right 0.5s ease-in;
    overflow: hidden;
  }
  .nav-links a {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 100px;
    padding-right: 100px;
  }
  /* turd hack cause lazy. fix later. */
  .first { 
    margin-top: 10vh;
  }
  .nav-links li {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

}

.nav-active {
  right: 0px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    left: translateX(50px);
  }

  to {
    opacity: 1;
    left: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}